* {
  font-family: finalsix, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header-one {
  font-family: freehouse,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.header-two {
  font-family: freehouse,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.header-three {
  font-family: finalsix, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
}

.header-four {
  font-family: finalsix, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
}


.card-title {
  font-family: finalsix, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
}

p {
  font-family: finalsix, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

a {
  font-family: finalsix, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}